.button-container {
    min-width: 320px;
    text-decoration: none;

    .save-button {
        width: 183px;
        height: 43px;
        background-color: #69bdec;
        text-align: center;
        color: white;
        border-radius: 15px;
        line-height: 42px;
        margin: auto;

        @media (max-height: 530px) { 
            width: 175px;
            height: 39px;
        }
    }
    
}