.Top-Section{
    background-image: url("../../images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    //font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
  }
  
   .Top-Section-Container {
display: flex;
justify-content: center;
align-items: center;
    .Title-Image-Container{
      margin-top: -5px;
      height: 96px;
      width: 288px;
      background-image: url("../../images/titleimage.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  } 

