.bar-container {
    width: 100vw;
    height: 8vh;
    background-color: #CB92CB;
    color: white;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    max-height: 60px;

    .bar-text {
 
    }
}