.homepage-container {
  margin: auto;
  max-width: 450px;
  //width: 85vw;
  min-width: 150px;


.center-container {
    min-width: 330px;
    margin: auto;
    text-align: center;

  .save-past-text {
    margin-top: 55px;
  }

  .minutes-text {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2em;
  }
}



.buttons-wrapper {
  min-width: 320px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-height: 675px) { 
    margin-top: 35px;
  }
  div {
  }
}

// hacky this needs fixing
.Link-container {
  text-decoration: none;
  color: white;
}

}
