.Middle-Section {
    background-image: url("../../images/background2.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .center-container {
        min-width: 330px;
        margin: auto;
        text-align: center;
    
      .save-past-text {
        margin-bottom: 15px;
        font-size: 14px;
      }
    
      .minutes-text {
       // font-weight: bold;
       margin-bottom: 30px;
        font-size: 1.1em;
      }

      .timer-organiser {
        margin-left: 77px;
        width: 170px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }


    }
  }



  .Savebtn-Container {
    #Savebtn {
        border:2px solid white;
        font-size: 19px;
        width: 150px;
        height: 40px;
        background-color: rgba(255,255,255, 0.3);
        color: white;
        border-radius: 7px;
        margin-bottom: 30px;
      }
  }
