.SignInContainer {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.SignInTitle {
    
    margin: 10px 50px;
    margin-top: 45px;
    font-size: 1.5em;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 50px;
    font-weight: bold;
}

.ButtonsBarContainer {
    display: flex;
    justify-content: space-between;
}