.SignInContainer {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    max-width: 500px;
    min-width: 200px;
}

.SignInTitle {
    margin: 10px 51px;
    margin-top: 35px;
    font-size: 1.7em;
    text-align: left;
    margin-bottom: 40px;
    font-weight: bold;
}

.ButtonsBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 51px;
    max-width: 220px;
}

.sign-up-text {
margin-top: 80px;
margin-left: 51px;
text-align: left;
color: #707070;
cursor: pointer;

&:hover {
    color: black;
}
}

.forgot-password-text {
margin-top: 5px;
margin-left: 51px;
text-align: left;
color: #707070;
cursor: pointer;

&:hover {
    color: black;
}
}

