.icon-button-container {
    text-align: center;
    width: 80px;
    height: 80px;
    text-decoration: none;

    .text-container {
        margin-top: 10px;
        color: black;

        @media (max-height: 545px) {
            margin-top: 5px; 
           font-size: 0.9em;
        }
    }
}

.image-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid #bb99ff;
    box-shadow: -0px -2px 34px -5px #ccb3ff;
    
    @media (max-height: 545px) { 
        height: 48px;
        width: 48px;
    }

    .premiumIcon {
        margin-top: 13px;
        width: 24px;
        height: 23px;
        -webkit-filter : hue-rotate(55deg);
        filter : hue-rotate(55deg);

        @media (max-height: 545px) { 
            margin-top: 12px;
        }
    }

    .settingsIcon {
        margin-top: 13px;
        width: 24px;
        height: 24px;
        -webkit-filter : hue-rotate(55deg);
        filter : hue-rotate(55deg);

        @media (max-height: 545px) { 
            margin-top: 12px;
        }
    }

    .recordingsIcon {
        margin-top: 13px;
        width: 20px;
        height: 24px;
        -webkit-filter : hue-rotate(55deg);
        filter : hue-rotate(55deg);

        @media (max-height: 545px) { 
            margin-top: 12px;
        }
    }



}