.settings-option-container {
    display: flex;
    color: black;
    text-decoration: none;

    .settings-option {
        color: #2fb6b6;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        margin: 5px 10px;
        padding: 10px 5px 10px 5px;
        border-bottom: 1px solid rgba(19, 16, 16, 0.2);

        .right-arrow {
            width: 11px;
            height: 15px;
        }
    }
}