.title-container {
  margin-top: 25px;
  height: 175px;
  width: 100vw;
  min-width: 335px;
  max-width: 450px;

  @media (max-height: 725px) { 
    height: 100px;
  }

  .background-container {
    position: relative;
    z-index: 1;
    max-width: 450px;
    min-width: 320px;
    top: 85px;
    width: 100vw;
    height: 50px;
    background-image: url("../../images/appbground.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media (max-height: 725px) { 
      top: 41px;
    }
    
  }
  .logo-container {
    position: relative;
    top: -55px;
    width: 100%;
    height: 100%;

    .logo {
      position: relative;
      z-index: 1;
      margin: auto;
      background: rgb(104,132,255);
      background: linear-gradient(90deg, rgba(104,132,255,1) 0%, rgba(80,153,219,1) 50%, rgba(45,198,225,1) 100%);
      border-radius: 100px;
      width: 185px;
      height: 185px;
      box-shadow: 12px 22px 45px 7px #c0e6fa;

      @media (max-height: 725px) { 
        width: 125px;
        height: 125px;
      }

      .logo-img {
        position: relative;
        top: 12px;
        left: 41px;
        height: 120px;
        position: relative;
        z-index: 2;

        @media (max-height: 725px) {
          top: 9px;
          left: 33px;
          height: 72px;
        }
      }



      .title {
        font-family: "Caveat", Times, serif;
        top: -18px;
        left: 36px;
        position: relative;
        z-index: 2;
        font-size: 34px;
        color: white;
        text-decoration: underline;
        text-decoration-color: white;

        @media (max-height: 725px) {
          font-size: 28px;
          top: -10px;
          left: 19px;
        }
      }
    }
  }
}
