.PremiumTitle {
    margin: 10px 51px;
    margin-top: 35px;
    font-size: 1.7em;
    text-align: left;
    margin-bottom: 40px;
    font-weight: bold;
}

.PremiumDescription {
    margin: 10px 51px;
    margin-top: 35px;
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 40px;
    font-weight: bold;
}

.ListContainer {
    margin: 10px 51px;
    margin-top: 35px;
    font-size: 1em;
    text-align: left;
    margin-bottom: 40px;
}