.contact-container {
    
    p {
    margin-left: 50px;    
    }
    .submit-button {
    margin-left: 50px;
    }
}

.contact-title {
    color: #CB92CB;
    margin: 10px 51px;
    margin-top: 35px;
    font-size: 1.7em;
    text-align: left;
    margin-bottom: 40px;
    font-weight: bold;
}