$sub-color: #f0f0f5;
$sub-color2: #707070;
$main-color: black;

@mixin shrinkLabel {
  top: 16px;
  left: 45px;
  font-size: 8px;
  color: $main-color;
}

.group {
  position: relative;
  width: 90vw;
  max-width: 500px;
  min-width: 330px;
  font-family: 'Chivo', sans-serif;
  margin-left: 20px;
  

  .form-input {
    background: none;
    background-color: $sub-color;
    color: $main-color;
    padding: 20px 20px 10px 10px;
    //display: block;
    width: 80%;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid $sub-color;
    margin: 10px 0;

    &:focus {
      outline: none;
      border: 1px solid $main-color;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color2;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 70px;
    top: 27px;
    font-size: 11px;
    transition: 300ms ease all;
    font-weight: bold;
    &.shrink {
      @include shrinkLabel();
    }
  }
}