.account-container {

    margin-top: 20px;
.header-section-container {
    margin: 0px 15px 0px 15px;
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 6px;
    .account-title {
        margin: 10px 51px;
        margin-top: 5px;
        font-size: 1.7em;
        text-align: left;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .name-email-container {
        font-family: 'Chivo', sans-serif;
        margin-left: 30px;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        .display-name {
            margin-top: 5px;
        }
        .display-email {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}



}