.Rangebar-Container {
    flex: 1 1 0;
    height: 10vh;
  }
  .range {
    margin-bottom: 8%;
    width: 50vw;
    max-width: 250px;
    height: 0.3vh;
    background: grey;
    -webkit-appearance: none;
    outline: none;
    border-radius: 2px;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #9C5891;
    border:0.1px solid #A8539A;
  }