.homepage-container {
margin-left: 50px;
max-width: 450px;
width: 90vw;
min-width: 150px;
}

.save-past-text {
margin-top: 55px;
margin-left: 95px;
}

.save-button {
margin-top: 20px;
margin-left: 60px;
}

.minutes-text {
margin-top: 20px;
margin-left: 97px;
font-size: 1.2em;
}

.buttons-wrapper {
    display: flex;
}